{% extends 'layouts/front/front.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}

{% block body %}
    <section class="sign-in__form">
        <div class="sign-in__elements">
            <div class="sign-in__legend">
                <h2 class="sign-in__title">
                    Mot de passe oublié
                </h2>
                Vous allez accéder à la page de réinitialisation du mot de passe!!!.
            </div>

            <div class="sign-in__inputs">
                {{ form(form, {attr: {id: 'access_reset_password_form'}}) }}
            </div>
        </div>
        <ul class="sign-in__buttons">
            <li class="sign-in__buttons__item">
            <twig:button modifier="primary" label="continuer" type="submit" form="access_reset_password_form" />
                <!--<a href="{{ path('app_reset_password') }}">continuer</a>-->
            </li>
        </ul>
    </section>
{% endblock %}
