{% extends 'layouts/front/front.html.twig' %}

{% block title %}{{ 'security.password.forgot.label'|trans }}{% endblock %}

{% block body %}
    <section class="sign-in__form">
        <div class="sign-in__elements">
            <div class="sign-in__legend">
                <h2 class="sign-in__title">
                  Mot de passe oublié
                </h2>
                Saisissez l’adresse email correspondant à votre compte.
                Si elle est reconnue, un email vous sera envoyé avec un lien vous permettant
                de créer un nouveau mot de passe.
            </div>

            <div class="sign-in__inputs">
                {{ form(form, {attr: {id: 'forgot_password_form', 'data-swup-form': ''}}) }}
            </div>

            <div class="sign-in__links">
                <twig:link href="{{ path('app_login') }}" label="{{ 'back.to.login.label'|trans }}" />
            </div>
        </div>
        <ul class="sign-in__buttons">
            <li class="sign-in__buttons__item">
                <twig:button modifier="primary" label="Envoyer" type="submit" form="forgot_password_form" />
            </li>
        </ul>
    </section>
{% endblock %}
