{% extends 'layouts/front/front.html.twig' %}

{% block title %}{{ 'reset_password.page_title'|trans }}{% endblock %}

{% block body %}
    <section class="sign-in__form">
        <div class="sign-in__elements">
            <div class="sign-in__legend">
                <h2 class="sign-in__title">
                    Réinitialiser le mot de passe
                </h2>
               Veuillez Réinitialiser votre mot de passe
            </div>

            <div class="sign-in__inputs">
                {{ form(form, {attr: {id: 'reset_password_form', 'data-swup-form': ''}}) }}
            </div>
        </div>
        <ul class="sign-in__buttons d-flex">
            <li class="sign-in__buttons__item mr-2">
                <twig:button modifier="primary" label="Valider" type="submit" form="reset_password_form" />
            </li>
            <li class="sign-in__buttons__item sign-in__buttons__item">
                <twig:button modifier="tertiary" label="Cancel" href="{{ path('app_logout') }}" />
            </li>
        </ul>
    </section>
{% endblock %}
