<h2>Bonjour {{ user_first_name }},</h2>
<p>Nous sommes ravis de vous accueillir en tant qu'administrateur sur notre plateforme.
    Votre compte a été créé avec succès et vous pouvez maintenant accéder à toutes les fonctionnalités administratives.</p>
<p>Avant de continuer, nous vous demandons de bien vouloir changer votre mot de passe pour des raisons de sécurité.
    Veuillez cliquer sur le lien ci-dessous pour procéder à la réinitialisation de votre mot de pass.</p>
<p><a href="{{ reset_password_url }}">Cliquez ici pour réinitialiser votre mot de passe.</a></p>
<p>Une fois votre mot de passe changé, vous pourrez accéder à votre compte en utilisant votre identifiant et
    votre nouveau mot de passe.</p>
<p>Merci encore pour votre engagement envers notre plateforme.</p>
<p>Cordialement,</p>
<p>L'équipe Al Oulfa</p>
