.sign-in__legend {
    margin-block: 32px 16px;
}

.sign-in__elements{padding:60px 30px 40px}
.wrapper-front{
    margin:0 !important;
}

.delete-embedded-form{
    width:40px;
    height:40px;
    margin-top:30px;
}