{% extends 'base.html.twig' %}

{% block title %}Les Classes{% endblock %}
{% block title_page %}
    <h2 class="my-auto pl-5" xmlns:twig="http://www.w3.org/1999/html">
        <i class="fa fa-users"></i>
        Liste des Classes
    </h2>
{% endblock %}
{% block body %}

    <div class="container-fluid my-5 mx-auto p-5 bg-white ">
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
        <div class="">
            <a href="{{ path('classroom_create') }}" class="btn btn-info text-white right-0 bottom-5 mb-2">
                <i class="fa fa-plus"></i>
                AJOUTER
            </a>
        </div>
        {% set headers = ['id','Nom', 'Heure début', 'Heure fin','Date de création', 'Edition'] %}
        {% set rows = [] %}
        {% for classroom in classrooms %}
            {% set rows = rows|merge([{
                'id': classroom.id,
                'name': classroom.name,
                'startHour': classroom.startHour|date('H:i'),
                'endHour': classroom.endHour|date('H:i'),
                'createdAt': classroom.createdAt|date('d-m-Y'),
                'item': classroom,
                'delete_key':classroom.name,
                'delete_type': 'Classe',
                'path_delete': path('classroom_delete', {'id': classroom.id}),
                'path_show': path('classroom_show', {'id': classroom.id}),
                'path_edit': path('classroom_edit', {'id': classroom.id})

            }]) %}

        {% endfor %}
        <twig:table-listing

                table_id='table-user'
                headers='{{ headers }}'
                rows='{{ rows }}'
        />


    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#table-user').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/French.json"
                },
                "pageLength": 10
            });
        });
    </script>
{% endblock %}
